
body {
    font-weight: 700;
    font-family: 'League Spartan', sans-serif;
    height: 100vh;
    background-color: var(--main-background-color);
    & .calculator {
     font-size: 32px;
     position: relative;
     max-width: 535px;
     min-height: 90%;
     margin: 76px auto;
     color: var(--text1-color);

        & .calculator__header {
            display: flex;
            justify-content: space-between;
            align-items: flex-end;
            h1 {
                line-height: 80%;
            }
        }
    }
}