$breakpoints: (sm: 375px, md: 768px, lg: 1024px);

@mixin medias-query($size) {
    @media screen and (max-width: map-get($breakpoints, $size)) {
        @content;
    }
}


@include medias-query(md) {
    body {

       & .calculator {
            margin: auto;
            & .calculator__header {
                margin: 25px;
            }
            & .calculator__screen {
                min-height: 88px;
            }

            & .calculator__keys  {
                gap: 13px;
                padding: 24px;
                border-radius: 10px;
                .button {
                    height: 60px;
                    border-radius: 5px;
                }
            }
        }
    }
  
}


@include medias-query(sm) {
    body {

       & .calculator {
            margin: 30px 25px;
            
            & .calculator__header {
                margin: 0;
            }
            & .calculator__screen {
                min-height: 88px;
            }

            & .calculator__keys  {
                gap: 13px;
                padding: 24px;
                border-radius: 10px;
                .button {
                    height: 60px;
                    border-radius: 5px;
                }
            }
        }
    }
  
}


