.calculator__screen {
    display: flex;
    flex-flow: column nowrap;
    width: 100%;
    min-height: 128px;
    background-color: var(--screen-background-color);
    border-radius: 10px;
    margin: 32px 0;
    & .screen__text {
        text-align: right;
        flex-grow: 1;
        line-height: 100px;
        padding: 0 35px;
        font-size: 40px;
    }
    & .screen__text2 {
        text-align: right;
        padding: 9px 35px 0 35px;
        font-size: 20px;
        color: grey;
    }
}