body.theme1 {
    --main-background-color: #{$main_background_color1};
    --keypad-background-color: #{$keypad_background_color1};
    --screen-background-color: #{$screen_background_color1};

    --keys-background1-color: #{$keys_background1_color1};
    --keys-shadow1-color: #{$keys_shadow1_color1};

    --keys-background2-color: #{$keys_background2_color1};
    --keys-shadow2-color: #{$keys_shadow2_color1};

    --keys-background3-color: #{$keys_background3_color1};
    --keys-shadow3-color: #{$keys_shadow3_color1};

    --text1-color: #{$text2_color1}; /*Calc*/
    --text2-color: #{$text1_color1}; /*Keypad*/
    --text3-color: #{$text2_color1}; /*Del, Reset*/
    --text4-color: #{$text2_color1}; /*Equals*/
}


body.theme2 {
    --main-background-color: #{$main_background_color2};
    --keypad-background-color: #{$keypad_background_color2};
    --screen-background-color: #{$screen_background_color2};

    --keys-background1-color: #{$keys_background1_color2};
    --keys-shadow1-color: #{$keys_shadow1_color2};

    --keys-background2-color: #{$keys_background2_color2};
    --keys-shadow2-color: #{$keys_shadow2_color2};

    --keys-background3-color: #{$keys_background3_color2};
    --keys-shadow3-color: #{$keys_shadow3_color2};

    --text1-color: #{$text1_color2}; /*Calc*/
    --text2-color: #{$text1_color2}; /*Keypad*/
    --text3-color: #{$text2_color2}; /*Del, Reset*/
    --text4-color: #{$text2_color2}; /*Equals*/
  
}

body.theme3 {
    --main-background-color: #{$main_background_color3};
    --keypad-background-color: #{$keypad_background_color3};
    --screen-background-color: #{$screen_background_color3};

    --keys-background1-color: #{$keys_background1_color3};
    --keys-shadow1-color: #{$keys_shadow1_color3};

    --keys-background2-color: #{$keys_background2_color3};
    --keys-shadow2-color: #{$keys_shadow2_color3};

    --keys-background3-color: #{$keys_background3_color3};
    --keys-shadow3-color: #{$keys_shadow3_color3};

    --text1-color: #{$text1_color3}; /*Calc*/
    --text2-color: #{$text1_color3}; /*Keypad*/
    --text3-color: #{$text3_color3}; /*Del, Reset*/
    --text4-color: #{$text2_color3}; /*Equals*/
}