/*---------------THEME 1 VARIABLES----------------*/

/* Theme 1 Backgrounds */
$main_background_color1: hsl(222, 26%, 31%);
$keypad_background_color1: hsl(223, 31%, 20%);
$screen_background_color1: hsl(224, 36%, 15%);

/* Theme 1 Keys */
$keys_background1_color1: hsl(225, 21%, 49%);
$keys_shadow1_color1: hsl(224, 28%, 35%);

$keys_background2_color1: hsl(6, 63%, 50%);
$keys_shadow2_color1: hsl(6, 70%, 34%);

$keys_background3_color1:hsl(30, 25%, 89%);
$keys_shadow3_color1: hsl(28, 16%, 65%);

/*Theme 1 Text*/
$text1_color1: hsl(221, 14%, 31%);
$text2_color1: hsl(0, 0, 100%);


/*---------------THEME 2 VARIABLES----------------*/
/* Theme 2 Backgrounds */
$main_background_color2: hsl(0, 0%, 90%);
$keypad_background_color2: hsl(0, 5%, 81%);
$screen_background_color2: hsl(0, 0%, 93%);

/* Theme 2 Keys */
$keys_background1_color2: hsl(185, 42%, 37%);
$keys_shadow1_color2: hsl(185, 58%, 25%);

$keys_background2_color2: hsl(25, 98%, 40%);
$keys_shadow2_color2: hsl(25, 99%, 27%);

$keys_background3_color2:hsl(45, 7%, 89%);
$keys_shadow3_color2: hsl(35, 11%, 61%);

/*Theme 2 Text*/
$text1_color2: hsl(60, 10%, 19%);
$text2_color2: hsl(0, 0, 100%);


/*---------------THEME 3 VARIABLES----------------*/
$main_background_color3: hsl(268, 75%, 9%);
$keypad_background_color3: hsl(268, 71%, 12%);
$screen_background_color3: hsl(268, 71%, 12%);

/* Theme 3 Keys */
$keys_background1_color3: hsl(281, 89%, 26%);
$keys_shadow1_color3: hsl(285, 91%, 52%);

$keys_background2_color3: hsl(176, 100%, 44%);
$keys_shadow2_color3: hsl(177, 92%, 70%);

$keys_background3_color3:hsl(268, 47%, 21%);
$keys_shadow3_color3: hsl(290, 70%, 36%);

/*Theme 3 Text*/
$text1_color3: hsl(52, 100%, 62%);
$text2_color3: hsl(198, 20%, 13%);
$text3_color3: hsl(0, 0, 100%);